.home {
  padding-top: 20px;
  > div > h2 {
    font-weight: bolder;
    color: #0288d1;
    > svg {
      color: #ff5722;
    }
  }
  transition: all ease-in-out 0.3s;
}
.float-btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
}
.home.inactive {
  filter: blur(12px);
}
